* {
    box-sizing: border-box;
  }

body {
      background-color: navy;
}

/*menu styling for light on dark background*/

.spacer {
    visibility: hidden;
    flex-grow: 1;
    min-width: 50px;
}

.justlogo {
    flex-shrink: 0;
    width: 150px;
    height: auto;
    border-style: double;
    border-color: white;
    border-width: 3px;
}
.logo-and-menu-light-on-dark {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 20px;
    z-index: 1;
}

.logo-and-menu-light-on-dark ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*margin-left: 990px;*/
    /*margin-top: -50px;*/
    z-index: 1;
}
/*leave as is*/
.logo-and-menu-light-on-dark ul li {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*leave as is*/
.logo-and-menu-light-on-dark ul li a {
    color: white;
    font-size: 20px;
    padding: 10px 12px;
    text-decoration: none;
    text-shadow: -1px 1px 0 black;
}

/*leave as is*/
ul li a:hover {
  background-color: gray;
}


/*menu styling for dark-on-light background*/
.logo-and-menu-dark-on-light {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 20px;
    z-index: 1;
}

.logo-and-menu-dark-on-light ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*margin-left: 990px;*/
    /*margin-top: -50px;*/
    z-index: 1;
}
/*leave as is*/
.logo-and-menu-dark-on-light ul li {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*leave as is*/
.logo-and-menu-dark-on-light ul li a {
    color: black;
    font-size: 20px;
    padding: 10px 12px;
    text-decoration: none;
    text-shadow: -1px 1px 0 white;
}
@media screen and (max-width: 600px) {
    .logo-and-menu-light-on-dark .logo-menu-dark-on-light {
        flex-direction: column;
    }
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/*welcome/index page styling*/
.hometextoverlay {
    color: white;
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.homeimage img {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
    animation: slowZoom 7s ease-in-out infinite alternate;
    transform-origin: center center;
}

.hometext {
    width: 100%;
    font-family: "Story-Script", serif;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    text-shadow: -2px 2px 0 black;
}
@media screen and (max-width: 600px) {
    span.hometextoverlay, div.hero-cards{
        flex-direction: column;
    }
}

@keyframes slowZoom {
    0% {transform: scale(1)}
    100% {transform: scale(1.1)}
}

.hero-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .hero-cards {
        flex-direction: column;
    }
}

.hero-cards div {
    /*width: 50%;*/
    max-width: 50%;
    margin: 15px;
    padding-top: 150px;
    z-index: 1;
    }

/*Watch page styling*/

.watchIntro {
    text-align: center;
    color: cornflowerblue;
    text-shadow: 1px 1px 0 black;
    font-style: italic;
    padding-top: 8%;
}
.vid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    gap: 5px;
    margin-left: 75px;
    }

@media screen and (max-width: 600px) {
    .vid-container {
        flex-direction: row;
    }
}

.watchOutro {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

/*Contact form styling*/
.contact-header {
    padding-top: 10%;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0 white;
}
.contact-header1 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0 white;
}

.contact-flex-box {
    display: flex;
    flex-direction: row;
    padding: 1px;
    gap: 5px;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .contact-flex-box {
        flex-direction: column;
    }
}
.contact-form {
    width: 50%;
    max-width: 75%;
    margin: auto;
    padding: 2%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Style text inputs, email inputs, and textarea */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Change button color on hover */
button[type="submit"]:hover {
    background-color: #D3D3D3;
}

/* message on send */
#responseMessage {
     margin-top: 20px;
     font-weight: bold;
    color: white;
    text-align: center;
}
.success { color: green; }
.error { color: red; }


/*about page styling*/
.about-break .blog-break {
    color: black;
}

.coming-soon {
    text-align: center;
}

.aboutpics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.aboutpict {
    max-width: 300px;
    height: auto;
    border-style: double;
    border-color: white;
    border-width: 20px;
}
.about-title {
    text-align: center;
    padding-top: 150px;
}

.about-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 100px;
    gap: 5px;
}


/*books container fiction*/
.books-container-fiction {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    margin-left: 5%;
    gap: 8px;

}

.books-container-nonfiction {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    gap: 8px;
    margin-left: 5%;

}
.fictionnote {
    padding-top: 10%;
    text-align: center;
    color: white;
}
.fictionnote1 {
    text-align: center;
    color: white;
}
.nonfictionnote {
    text-align: center;
    padding-top: 5%;
    color: white;
}

/*footer styling*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
}

