{% extends 'based.html' %}
{% block content %}
<H2 class="about-title">About Norita Sieffert</H2>
<br>
<h2 class="coming-soon">This page coming soon!</h2>
<div class="aboutpics">
<!--     <div><img src="../static/lightbluesquare.png" style="width:300px"></div>-->
<!--    <div><img src="../static/lightbluesquare.png" style="width:300px"></div>-->
    <div><img src="../static/norpreach.png" class="aboutpict"></div>
    <div><img src="../static/norfamily.png" class="aboutpict"></div>
    <div><img src="../static/BestSellerPic.png" class="aboutpict"></div>
</div>
<hr class="about-break">
<br>
<div class="footer">

    <div class="footer-facebook">
        <a href="https://www.facebook.com/norita.sieffert.9" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>

{% endblock content %}