<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>
body {
    background-color: aliceblue;
}
</style>
</head>
<body>
<div class="logo-and-menu-dark-on-light">
    <div>
    <a href="https://faithfellowshipterrell.org">
        <img src="../static/ffcotnblackonly.png" class="justlogo" alt="centered"></a>
    </div>
    <div class="spacer">

    </div>
    <div>
    <ul>
        <li><a href="welcome">Welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href="books">Books</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="shop">Shop</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>
</div>
</body>
</html>l>