<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>
body {
    background-color: aliceblue;
}
</style>
</head>
<body>
<div class="logo-and-menu-dark-on-light">
   <div>
    <a href="https://www.amazon.com/stores/Norita-Sieffert/author/B00J161BM0">
        <img src="../static/BestSellerPic.png" class="justlogo" alt="centered"></a>
    </div>
    <div class="spacer">

    </div>
    <div>
    <ul>
        <li><a href="welcome">Welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href="books">Books</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="shop">Shop</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>
</div>

<H2 class="about-title">About Norita Sieffert</H2>
<br>
<h2 class="coming-soon">This page coming soon!</h2>
<div class="aboutpics">
<!--     <div><img src="../static/lightbluesquare.png" style="width:300px"></div>-->
<!--    <div><img src="../static/lightbluesquare.png" style="width:300px"></div>-->
    <div><img src="../static/norpreach.png" class="aboutpict"></div>
    <div><img src="../static/norfamily.png" class="aboutpict"></div>
    <div><img src="../static/BestSellerPic.png" class="aboutpict"></div>
</div>
<hr class="about-break">
<br>

<div class="footer">

    <div class="footer-facebook">
        <a href="https://www.facebook.com/norita.sieffert.9" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>l>