<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

    <style>
    body {
    background-color: black;
}
</style>
</head>
<body>
<div class="logo-and-menu-light-on-dark">
   <div>
    <a href="https://www.amazon.com/stores/Norita-Sieffert/author/B00J161BM0">
        <img src="../static/BestSellerPic.png" class="justlogo" alt="centered"></a>
    </div>
    <div class="spacer">

    </div>
    <div>
    <ul>
        <li><a href="welcome">Welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href="books">Books</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="shop">Shop</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>
</div>
<br>
<div class="watchIntro">
    <H1>Explore Dr. Sieffert's Sermons</H1>
    <H2>This year's theme: "The Psalms in the New Testament"</H2>
</div>
<br>
    <div class="vid-container">
        <div><a href="https://youtu.be/DdV16FDyqXk?si=aXU4b2bcDkRDH3NR" target="_blank" rel="noopener noreferrer">
            <img src="../static/chased-words.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/KoeQKE6C7HA?si=VoQSw3zn8BCKFb_-" target="_blank" rel="noopener noreferrer">
            <img src="../static/triumphant.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/fCcl6rKrSUM?si=nYrimAt0uKDPx1Zt" target="_blank" rel="noopener noreferrer">
              <img src="../static/spultimate.png" style="height:350px; width:400px" alt="centered"></a></div>
       <div><a href="https://youtu.be/gLX7thvHGpM?si=YQFq_kI2cjW5mzn6" target="_blank" rel="noopener noreferrer">
            <img src="../static/spsosaved.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/lUGs20qr9mg?si=D4YrvVC_Kw8YNV1u" target="_blank" rel="noopener noreferrer">
            <img src="../static/spmom.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/65xE7xDJ8k4?si=wmAFf5RTFQMN4JNS" target="_blank" rel="noopener noreferrer">
            <img src="../static/spredeemed.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/nntw7L3VXLM?si=_l2JWemtHNUQ5kX7" target="_blank" rel="noopener noreferrer">
            <img src="../static/spwaiting.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/X45uB56_0yU?si=l1FY64qSTEVBXZeJ" target="_blank" rel="noopener noreferrer">
            <img src="../static/spwhynot.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/rTqPpM89m2A?si=XZf6zKm-4iUSUcCE" target="_blank" rel="noopener noreferrer">
            <img src="../static/speaster.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/bCXriFOCpDY?si=jigu9yJIySHIJPwk" target="_blank" rel="noopener noreferrer">
            <img src="../static/spcross.png" style="height:350px; width:400px" alt="centered"></a></div>
                <div><a href="https://youtu.be/stRbqqrieak?si=KoNRMIk2skcNRy5Y" target="_blank" rel="noopener noreferrer">
            <img src="../static/spremember.png" style="height:350px; width:400px" alt="centered"></a></div>
        
       </div>
<br>
<div>
    <H2 class="watchOutro">For more sermons, check out our
        <a href="https://www.youtube.com/@faithfellowshiptechnology6283"
           target="_blank" rel="noopener noreferrer">YouTube Channel</a>a here.</H2>
</div>
<br>
<hr>
<br>

<div class="footer">

    <div class="footer-facebook">
        <a href="https://www.facebook.com/norita.sieffert.9" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>