{% extends 'basel.html' %}
{% block content %}

<style>
    body {
        background-color: black;
    }
</style>
<br>
<div class="watchIntro">
    <H1>Explore Dr. Sieffert's Sermons</H1>
    <H2>This year's theme: "The Psalms in the New Testament"</H2>
</div>
<br>
    <div class="vid-container">
        <div><a href="https://youtu.be/DdV16FDyqXk?si=aXU4b2bcDkRDH3NR" target="_blank" rel="noopener noreferrer">
            <img src="../static/chased-words.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/KoeQKE6C7HA?si=VoQSw3zn8BCKFb_-" target="_blank" rel="noopener noreferrer">
            <img src="../static/triumphant.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/fCcl6rKrSUM?si=nYrimAt0uKDPx1Zt" target="_blank" rel="noopener noreferrer">
              <img src="../static/spultimate.png" style="height:350px; width:400px" alt="centered"></a></div>
       <div><a href="https://youtu.be/gLX7thvHGpM?si=YQFq_kI2cjW5mzn6" target="_blank" rel="noopener noreferrer">
            <img src="../static/spsosaved.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/lUGs20qr9mg?si=D4YrvVC_Kw8YNV1u" target="_blank" rel="noopener noreferrer">
            <img src="../static/spmom.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/65xE7xDJ8k4?si=wmAFf5RTFQMN4JNS" target="_blank" rel="noopener noreferrer">
            <img src="../static/spredeemed.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/nntw7L3VXLM?si=_l2JWemtHNUQ5kX7" target="_blank" rel="noopener noreferrer">
            <img src="../static/spwaiting.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/X45uB56_0yU?si=l1FY64qSTEVBXZeJ" target="_blank" rel="noopener noreferrer">
            <img src="../static/spwhynot.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/rTqPpM89m2A?si=XZf6zKm-4iUSUcCE" target="_blank" rel="noopener noreferrer">
            <img src="../static/speaster.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/bCXriFOCpDY?si=jigu9yJIySHIJPwk" target="_blank" rel="noopener noreferrer">
            <img src="../static/spcross.png" style="height:350px; width:400px" alt="centered"></a></div>
                <div><a href="https://youtu.be/stRbqqrieak?si=KoNRMIk2skcNRy5Y" target="_blank" rel="noopener noreferrer">
            <img src="../static/spremember.png" style="height:350px; width:400px" alt="centered"></a></div>
        
       </div>
<br>
<div>
    <H2 class="watchOutro">For more sermons, check out our
        <a href="https://www.youtube.com/@faithfellowshiptechnology6283"
           target="_blank" rel="noopener noreferrer">YouTube Channel</a>a here.</H2>
</div>
<br>
<hr>
<br>

<div class="footer">

    <div class="footer-facebook">
        <a href="https://www.facebook.com/norita.sieffert.9" target="_blank" rel="noopener noreferrer">
            <img src="../static/likeusinwhite.png" style="width:300px" alt="centered"></a>
    </div>
</div>
{% endblock content %}