{% extends 'basel.html' %}
{% block content %}

<div class="homeimage">
    <img src="../static/stillimage.png">
</div>

<span class="hometextoverlay">
    <H1 class="hometext">It's All About Jesus!</H1>
    <div class="hero-cards">
        <div>
        <a href="https://www.facebook.com/norita.sieffert.9"
           target="_blank" rel="noopener noreferrer"><img src="../static/followsiefferthero1.png"
                                                          style="width:300px" alt="centered"></a>
    </div>
    <div>
        <a href="https://www.facebook.com/FaithFellowshipCOTN"
           target="_blank" rel="noopener noreferrer"><img src="../static/followffcotnhero.png"
                                                          style="width:300px" alt="centered"></a>
    </div>
    <div>
        <a href="https://nsieffert.gumroad.com/l/iqosew"
           target="_blank" rel="noopener noreferrer"><img src="../static/shophero.png"
                                                          style="width:300px" alt="centered"></a>
    </div>
    </div>
</span>

<div class="footer">

    <div class="footer-facebook">
        <a href="https://www.facebook.com/norita.sieffert.9" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
{% endblock content %}