<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>
</head>
<body>
<div class="logo-and-menu-light-on-dark">
 <div>
    <a href="https://www.amazon.com/stores/Norita-Sieffert/author/B00J161BM0">
        <img src="../static/BestSellerPic.png" class="justlogo" alt="centered"></a>
    </div>
    <div class="spacer">
    </div>
    <div>
    <ul>
      <li><a href="welcome">Welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href="books">Books</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="shop">Shop</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>
</div>
<div class="homeimage">
    <img src="../static/stillimage.png">
</div>

<span class="hometextoverlay">
    <H1 class="hometext">It's All About Jesus!</H1>
    <div class="hero-cards">
        <div>
        <a href="https://www.facebook.com/norita.sieffert.9"
           target="_blank" rel="noopener noreferrer"><img src="../static/followsiefferthero1.png"
                                                          style="width:300px" alt="centered"></a>
    </div>
    <div>
        <a href="https://www.facebook.com/FaithFellowshipCOTN"
           target="_blank" rel="noopener noreferrer"><img src="../static/followffcotnhero.png"
                                                          style="width:300px" alt="centered"></a>
    </div>
    <div>
        <a href="https://nsieffert.gumroad.com/l/iqosew"
           target="_blank" rel="noopener noreferrer"><img src="../static/shophero.png"
                                                          style="width:300px" alt="centered"></a>
    </div>
    </div>
</span>

<div class="footer">

    <div class="footer-facebook">
        <a href="https://www.facebook.com/norita.sieffert.9" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinwhite.png" style="width:300px"></a>
    </div>
</div>
</body>
</htm